<a href="https://colab.research.google.com/github/kuntal99chakraborty-ops/Python-Basic-Assignment/blob/main/Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Types and Structures

1. What are data structures, and why are they important?

- Data structures are methods for organizing, processing, and storing data in a computer to allow for efficient access and modification. They are crucial because they enable programmers to optimize code, leading to faster and more effective applications.

Data structures are important beacuse
Efficiency- The primary goal is efficiency. Using the correct data structure ensures that data can be processed, stored, and accessed quickly and effectively.

Problem-solving- Data structures are fundamental to computer science and are used to solve complex problems by providing the right framework for data manipulation.

Essential for programming- A strong understanding of data structures is a core requirement for software developers and computer scientists, enabling them to build robust and scalable applications.

2. Explain the difference between mutable and immutable data types with examples.

- Difference between mutable and immutable assets are

Mutable Assets

Mutable data types are those whose values can be modified in place after they are created. This means that operations performed on a mutable object can change its internal state without creating a new object in memory.

Examples: Lists, Dictionaries, Sets in Python.

Immutable assets

Immutable data types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually results in the creation of a new object with the desired changes, leaving the original object unchanged.

Examples: Numbers (integers, floats), Strings, Tuples in Python.

3. What are the main differences between lists and tuples in Python?

- Difference between lists and tuples in Python

  Lists

* Lists are mutable: This means you can modify a list after it's created. You can add, remove, or change elements within a list.
* Lists are defined using square brackets [].
* Lists are suitable for collections of items that need to be modified or managed dynamically, such as a list of tasks, a shopping cart.

Tuples

* Tuples are immutable: Once a tuple is created, its elements cannot be changed, added, or removed.
* Tuples are defined using parentheses ().
* Tuples are generally faster and use less memory.
* Tuples are ideal for storing fixed collections of related data that should not change, like geographic coordinates, database records.

4. Describe how dictionaries store data

- Dictionaries, in the context of data structures, store data as key-value pairs. This means that each piece of data (the "value") is associated with a unique identifier (the "key").

5. Why might you use a set instead of a list in Python?

- Choosin set instead of a list in the following scenarios:

* Ensuring Uniqueness: Sets inherently store only unique elements. If you need a collection where duplicate values are not allowed, a set automatically handles this, eliminating the need for manual duplicate checking or removal.

* Efficient Membership Testing: Sets offer significantly faster lookup times for checking if an element exists within the collection, especially for large datasets.

* Order Doesn't Matter: If the order in which elements are stored is not important for your application, sets are a suitable choice. They do not maintain element order, which can simplify certain logic and potentially improve performance in some cases.

6. What is a string in Python, and how is it different from a list?

- A string is an ordered sequence of characters, used to represent text. Strings are immutable, meaning their contents cannot be changed after creation. They are defined by enclosing characters in single quotes ('...'), double quotes ("..."), or triple quotes for multi-line strings ('''...''

It is different from list in following ways:

* Mutability: Strings are immutable, meaning we cannot change individual characters or parts of a string after it's created.

* Content: Strings are specifically sequences of characters. Lists can hold any type of data as elements, including numbers, other strings, or even other lists.

* Representation: Strings are enclosed in quotes (single, double, or triple). Lists are enclosed in square brackets.

7. How do tuples ensure data integrity in Python?

- Tuples in Python ensure data integrity primarily through their immutability. This characteristic means that once a tuple is created, its elements cannot be changed, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that implements an associative array, also known as a dictionary or map. It stores key-value pairs and allows for efficient retrieval of values based on their associated keys.

 Examples through which it relate to dictionaries in Python

 * Hashing: When you want to store a key-value pair, the hash function takes the key as input and produces an integer hash value.
 Indexing: This hash value is then typically used with the modulo operator (%) and the size of the underlying array to determine the index where the value should be stored.

* Storage: The value is placed in the array at the calculated index. If multiple keys hash to the same index (a "collision"), various techniques like separate chaining (using linked lists at each index) or open addressing (probing for the next available slot) are used to handle them.

9. Can lists contain different data types in Python?

- Yes, a Python list can contain elements of different data types. This is a key feature of Python lists, making them very versatile.

For example, a single list can contain integers, strings, floats, booleans, and even other lists or complex objects, all at the same time.

10. Explain why strings are immutable in Python?

- Strings are immutable, meaning that once a string object is created, its content cannot be changed. Any operation that appears to modify a string actually creates a new string object with the desired changes, and the original string remains untouched.

11. What advantages do dictionaries offer over lists for certain tasks?

- Advantages of dictionaries over lists are

* Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations.
* Dictionaries offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

12.  Describe a scenario where using a tuple would be preferable over a list

- scenario where using a tuple would be preferable over a list involves representing immutable, fixed-size collections of related data, such as a record or a set of coordinates.

Example Scenario: Representing Geographic Coordinates

Considering a program that stores and processes geographic coordinates (latitude and longitude). These coordinates are inherently a fixed pair of values that should not change once defined.

13. How do sets handle duplicate values in Python?

- Examples of how sets handle duplicate values in Python:

* Automatic Removal upon Creation: If you create a set from an iterable (like a list or tuple) that contains duplicate values, the set constructor automatically removes the duplicates, keeping only one instance of each unique element.

* Ignoring Duplicate Additions: When using the add() method to add an element to an existing set, if the element already exists in the set, the add() operation has no effect.

14. How does the “in” keyword work differently for lists and dictionaries?

- The in keyword in Python functions differently for lists and dictionaries due to their underlying data structures and how they store and retrieve data.

For Lists:

* When used with a list, the in operator checks for the presence of a specific element within the list's values.

* It performs a linear search, iterating through each element in the list until a match is found or the end of the list is reached.

* The time complexity for this operation is typically O(n) in the worst case, meaning it can take longer as the list grows.

For Dictionaries:

* When used with a dictionary, the in operator checks for the presence of a specific key within the dictionary.
* It does not check for the presence of values directly.
* Dictionaries are implemented using hash tables, which allow for very efficient lookups based on keys.
* The time complexity for checking key existence in a dictionary is typically O(1) on average, making it much faster than searching in a list for large collections.

15. Can you modify the elements of a tuple? Explain why or why not?

- The elements of a tuple cannot be modified directly after the tuple has been created. Tuples in Python are immutable data structures.

Data Integrity: Immutability ensures that the data within a tuple remains constant once it's defined. This can be beneficial when you need to guarantee that certain data won't be accidentally or intentionally altered during program execution.

Use as Dictionary Keys: Because tuples are immutable, they can be used as keys in dictionaries, unlike lists. Dictionary keys must be hashable, and immutability is a requirement for hashability.

Performance: In some scenarios, immutable data structures can offer minor performance advantages as they can be optimized by Python's interpreter.

While we cannot directly change elements of an existing tuple, you can achieve the effect of modification by creating a new tuple based on the original. This typically involves:

Converting the tuple to a list: Lists are mutable, so you can modify their elements.

Making the desired changes to the list.

Converting the modified list back into a new tuple.

16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary where the values associated with one or more keys are themselves other dictionaries. This structure allows for the representation of hierarchical or multi-level data.

Example of its use case:

Considering a scenario where we will store information about multiple students in a school, including their personal details and their grades in different subjects. A nested dictionary can effectively organize this data:

school_data = {
    "student_001": {
        "name": "Alice Smith",
        "age": 16,
        "grade": 10,
        "contact": {
            "email": "alice.s@example.com",
            "phone": "555-1234"
        },
        "grades": {
            "math": 92,
            "science": 88,
            "history": 95
        }
    },
    "student_002": {
        "name": "Bob Johnson",
        "age": 17,
        "grade": 11,
        "contact": {
            "email": "bob.j@example.com",
            "phone": "555-5678"
        },
        "grades": {
            "math": 78,
            "science": 85,
            "english": 90
        }
    }
}

17. Describe the time complexity of accessing elements in a dictionary.

- The time complexity of accessing elements in a dictionary, such as in Python, is generally O(1) on average. This means that the time taken to retrieve a value associated with a key is constant, regardless of the number of elements in the dictionary.

This efficiency stems from the underlying implementation of dictionaries as hash tables. When a key is used to access an element:

* Hashing: The key is passed through a hash function, which converts it into an integer hash value.

* Indexing: This hash value is then used to determine the memory location (or "bucket") where the corresponding value is stored.

18. In what situations are lists preferred over dictionaries?

- Lists are preferred over dictionaries in several situations, primarily when the order of elements is crucial or when data is accessed sequentially.

* Ordered Collections: When the order of elements matters, such as a sequence of steps, a queue, or a history of events, lists are the appropriate choice. Dictionaries, while maintaining insertion order in modern Python versions, are fundamentally designed for key-value associations, not ordered sequences.

* Sequential Processing: For operations that involve iterating through elements in a specific order, like applying a function to each item in a sequence or performing calculations based on the position of elements, lists are more intuitive and efficient.

* Simple Data Storage: For collections of data where each element is self-contained and does not require a unique identifier for retrieval, lists offer a simpler and often more memory-efficient way to store and manage the data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries are considered "unordered" because, historically and by design, their primary purpose is fast, key-based access, not maintaining the order of insertion or any other sequence, though Python 3.7+ preserves insertion order as an implementation detail. This unordered nature means you cannot rely on a specific sequence when iterating or printing items, and data retrieval is always based on the unique key, not a positional index.

How it affects data retrieval?

- Access by Key: Data is always retrieved using its unique key, not its position. For example, to get a value, you must know the corresponding key, such as my_dictionary['apple'].

No Order Guarantees (Conceptually): Even though modern Python dictionaries maintain insertion order, you should not depend on this for the overall function of the data structure. When iterating through a dictionary, the order of elements may not be predictable or match the insertion order in contexts where insertion order isn't relevant.

Fast Lookups: The primary benefit of this design is speed. Hashing (using a function to convert the key into an index) allows for very fast retrieval of values associated with a given key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Difference between lists and dictionaries in terms of data retrieval

* Lists:

* Ordered Collection: Lists maintain a specific order of elements, meaning the position of each element is fixed relative to the others.

* Indexed Retrieval: Data retrieval in lists is primarily done using integer indices, starting from 0 for the first element.

Dictionaries:

* Unordered Key-Value Pairs: Dictionaries store data as key-value pairs, where each unique key is associated with a specific value. The order of these pairs is not guaranteed.

* Key-Based Retrieval: Data retrieval in dictionaries is performed using the associated key, which can be of various immutable data types (e.g., strings, numbers, tuples).

Practical Questions

Write a code to create a string with your name and print it

In [1]:
# Create a string with the name
name = "Kuntal Chakraborty"

# Print the string
print("Kuntal Chakraborty:", name)

Kuntal Chakraborty: Kuntal Chakraborty

Write a code to find the length of the string "Hello World"P

In [2]:
# Define the string
text = "Hello World"

# Find and print the length
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

Write a code to convert the string "hello" to uppercase

In [4]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
# Original string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

Write a code to create a list with numbers 1 to 5 and print it

In [6]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
# Original list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
# Original list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print

Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element:", second_element)

Second element: b

Write a code to reverse the list [10, 20, 30, 40, 50]

In [10]:
# Original list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse

Write a code to create a tuple with the elements 100, 200, 300 and print it

In [11]:
# Create a tuple
numbers = (100, 200, 300)

# Print the tuple
print("Tuple contents:", numbers)

Tuple contents: (100, 200, 300)

Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [12]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = colors[-2]

# Print the result
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [13]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum value
min_value = min(numbers)

# Print the result
print("Minimum number in the tuple:", min_value)

Minimum number in the tuple: 5

 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of 'cat'
cat_index = animals.index('cat')

# Print the result
print("Index of 'cat':", cat_index)

Index of 'cat': 1

Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [20]:
# Create a tuple with three fruits
fruits = ("apple", "banana", "mango")

# Check if 'kiwi' is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [21]:
# Create a set
letters = {'a', 'b', 'c'}

# Print the set
print("Set contents:", letters)

Set contents: {'a', 'b', 'c'}

Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [22]:
# Define the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the result
print("Cleared set:", numbers)

Cleared set: set()

Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [23]:
# Define the set
numbers = {1, 2, 3, 4}

# Remove the element 4
numbers.remove(4)

# Print the updated set
print("Updated set:", numbers)

Updated set: {1, 2, 3}

Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [24]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [25]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [28]:
# Create a dictionary
person = {
    "name": "Kuntal",
    "age": 25,
    "city": "Kolkata"
}

# Print the dictionary
print("Dictionary contents:", person)

Dictionary contents: {'name': 'Kuntal', 'age': 25, 'city': 'Kolkata'}

 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [29]:
# Original dictionary
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [30]:
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value for the key 'name'
name_value = person['name']

# Print the result
print("Name:", name_value)

Name: Alice

Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [31]:
# Original dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key 'age'
del person['age']

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [32]:
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if 'city' key exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Write a code to create a list, a tuple, and a dictionary, and print them all

In [34]:
# Create a list
my_list = [10, 20, 30]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Ratul', 'age': 25, 'city': 'Barrackpur'}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Ratul', 'age': 25, 'city': 'Barrackpur'}

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [35]:
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [5, 63, 74, 75, 99]

Write a code to create a list with strings and print the element at the third index.

In [36]:
# Create a list with strings
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Access and print the element at the third index (index 3)
print("Element at third index:", words[3])

Element at third index: date

Write a code to combine two dictionaries into one and print the result

In [37]:
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

Write a code to combine two dictionaries into one and print the result

In [38]:
# Define two dictionaries
dict1 = {'name': 'Ratul', 'age': 25}
dict2 = {'city': 'Barrackpur', 'country': 'India'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Ratul', 'age': 25, 'city': 'Barrackpur', 'country': 'India'}

 Write a code to convert a list of strings into a set.

In [39]:
# Define a list of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list to a set
string_set = set(string_list)

# Print the result
print("Set of strings:", string_set)

Set of strings: {'cherry', 'banana', 'apple'}